{% extends 'base.html.twig' %}

{% block title %}Restaurant
{% endblock %}

{% block body %}


	<h1 class="text-center my-3 card-title mb-5">Restaurant</h1>

	<section class="row my-3">
		<div class="col-10 mx-auto" style="width: 18rem;">
			<img src="{{ asset('image/glass.jpg') }}" class="card-img-top" alt="...">
			<p class="text-center">
				<strong>Carte Brasserie</strong>
			</p>
			<div class="text-center">

				<a href="{{ asset('pdf/Carte.pdf') }}" class="btn btn-dark col-10 text-center ">
					Télécharger la carte</a>


			</div>
		</div>


		<div class="col-10 mx-auto" style="width: 18rem;">
			<img src="{{ asset('image/indoors.jpg') }}" class="card-img-top" alt="...">
			<p class="text-center">
				<strong>Carte Dégustation</strong>
			</p>
			<div class="text-center">

				<a href="{{ asset('pdf/Restaurant Carte.pdf') }}" class="btn btn-dark col-10 text-center">
					Télécharger la carte</a>
			</div>
		</div>


		<div class="col-10 mx-auto" style="width: 18rem;">
			<img src="{{ asset('image/dining-room.jpg') }}" class="card-img-top" alt="...">
			<p class="text-center">
				<strong>Carte Restaurant</strong>
			</p>
			<div class="text-center">

				<a href="{{ asset('pdf/diner.pdf') }}" class="btn btn-dark col-10 text-center">
					Télécharger la carte</a>
			</div>
		</div>
	</section>


{% endblock %}
