{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}


	<section class="head_container">
		{{render(url('carousel_in_nav'))}}
	</section>
	<section class="description">
		<div class="row">
			<div class="col-12 mx-auto">
				<img
				src="{{ asset('assets/img/logo.png') }}" alt="">
			</div>
		</div>
	</section>
			<h1 class="text-center my-3">Hotel-prestige</h1>

<div class="row">
<div class="col-10 mx-auto">

    {% include "rendered/card.html.twig" %}
</div>
</div>

    <div class="row">
		<div class="col-8 mx-auto my-3">
			{%  include 'include/_flashes.html.twig' %}
		</div>
	</div>

<section class="discovery">

    <div class="card">
        <img width="150" height="150" alt="img" src="{{ asset('../images/front-pic.jpg') }}" alt="">
        <h2>Chambre</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, iusto cupiditate eveniet voluptates necessitatibus ad!</p>
        <button>Découvrir</button>
    </div>
    <div class="card">
        <img width="150" height="150" alt="img" src="{{ asset('../images/front-pic.jpg') }}" alt="">
        <h2>Chambre</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, iusto cupiditate eveniet voluptates necessitatibus ad!</p>
        <button>Découvrir</button>
    </div>
    <div class="card">
        <img width="150" height="150" alt="img" src="{{ asset('../images/front-pic.jpg') }}" alt="">
        <h2>Chambre</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, iusto cupiditate eveniet voluptates necessitatibus ad!</p>
        <button>Découvrir</button>
    </div>


</section>
{% endblock %}
