{% extends 'base.html.twig' %}

{% block title %}Voir les archives des articles{% endblock %}

{% block body %}

    <h1 class="text-center my-3 text-warning">Les Archives des articles</h1>

    <div class="row">
        <div class="col-6 mx-auto">
            {% include 'include/_flashes.html.twig' %}
        </div>
    </div>

    <div class="row my-5 mx-auto">
        <div class="col-4">
            <a class="btn btn-sm btn-outline-dark" href="{{ path('article_dashboard') }}"><i class="fa-solid fa-arrow-left"></i> Retour à la gestion des articles</a>
        </div>
    </div>

    <div class="row">
        <div class="col-10 mx-auto my-4">

            <h2 class="text-center">Tous les articles archivés</h2>

            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Titre</th>
                    <th>Contenu</th>
                    <th>Auteur</th>
                    <th>Crée le</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td class="text-center">{{ article.id }}</td>
                        <td class="text-center">{{ article.title | length > 20 ? article.title | slice(0,20) ~ '...' : article.title }}</td>
                        <td class="text-center">{{ article.content | length > 20 ? article.content | slice(0,20) ~ '...' : article.content }}</td>
                        <td class="text-center">{{ article.author.fullname }}</td>
                        <td class="text-center">{{ article.createdAt | date('d/m/Y') }}</td>
                        <td class="text-center">
                            <a href="{{ path('restore_article', {'id': article.id}) }}" class="text-info" title="Restaurer l'article"><i class="fa-solid fa-trash-arrow-up"></i></a>
                            <a href="{{ path('hard_delete_article', {'id': article.id}) }}" class="text-danger" title="Supprimer définitivement l'article" onclick="return confirm('Voulez-vous supprimer définitivement cet article ?')"><i class="fa-solid fa-times-circle"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7" class="bg-warning text-center align-middle">Aucun article archivé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}