{% extends 'base.html.twig' %}

{% block title %} Gestion des membres{% endblock %}

{% block body %}


    <h1 class="text-center my-3">Membres inscrits</h1>

    {# ################# FLASHES ################# #}
    <div class="row">
        <div class="col-6 mx-auto">
            {% include 'include/_flashes.html.twig' %}
        </div>
    </div>
    {# ################# FLASHES ################# #}


        <div class="col-10 my-5 mx-5">
      

            <table class="table table-hover">
                <thead class="table-dark text-center">
                    <tr>
                        <th>#</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Rôle</th>
                        <th>Inscrit le</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {%  for membre in membres %}

                        <tr>
                            <td class="text-center">{{ membre.id }}</td>
                            <td class="text-center">{{ membre.nom }}</td>
                            <td class="text-center">{{ membre.prenom }}</td>
                            <td class="text-center">{{ membre.email }}</td>
                            <td class="text-center">{{ membre.roles | first }}</td>
                            <td class="text-center">{{ membre.createdAt | date('d/m/Y') }}</td>
                            <td class="text-center">
                                <a href="{{ path('edit_membre', {'id': membre.id}) }}" class="text-warning" title="Modifier le rôle"><i class="fa fa-user-edit"></i></a>
                                
                            </td>
                        </tr>

                    {% else %}
                        <tr>
                            <td colspan="7" class="bg-info text-center align-middle">Aucun utilisateur inscrit</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
     
    </div>

   
{% endblock %}