{% extends 'base.html.twig' %}

{% block title %}Espace commentaire{% endblock %}

{% block body %}


	<div class="row">
		<div class="col-10 mx-auto">
			{% include 'include/_flashes.html.twig' %}
		</div>
	</div>

			<h1 class=" mb-5 text-center">
				<i class="fa fa-comments"></i>
				Espace Commentaires:</h1>
		
    	<div class="row">
		<div class="col-6 mx-auto">



                            {% for commentaire in commentaires | reverse %}

				<div class="alert alert-dark text-dark mb-3" role="alert">
					<h4 class="alert-heading">{{ commentaire.nom ~ ' ' ~ commentaire.prenom ~ ' ,' }}
						<span class="h6">
							posté
							{{ commentaire.createdAt | ago(locale='fr') }}</span>
					</h4>
                     <h6> Catégorie : {{commentaire.categorie}}</h5>
                    <h5> {{commentaire.titre}}</h6>
                   
					<p> {{ commentaire.commentaire }}</p>
					<hr>
					<p class="mb-0">
						<div class="btn-group ">
							<button type="button" class="btn btn-dark">
								<i class="fa fa-share-nodes"></i>
								Partager
							</button>
							<button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
								<span class="visually-hidden">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item" href="https://instagram.com/">
										<i class="fa-brands fa-instagram"></i>
										Instagram
									</a>
								</li>
								<li><hr class="dropdown-divider"></li>
								<li>
									<a class="dropdown-item" href="https://Twitter.com/">
										<i class="fa-brands fa-twitter"></i>
										Twitter
									</a>
								</li>
								<li><hr class="dropdown-divider"></li>
								<li>
									<a class="dropdown-item" href="https://facebook.com/">
										<i class="fa-brands fa-facebook-f"></i>
										Facebook
									</a>
								</li>
							</ul>
						</div>
						
{% if is_granted("ROLE_ADMIN") %}
						

								 <a class="text-danger" href="{{ path('delete_commentaire', {'id': commentaire.id}) }}" title="Supprimer le commentaire" onclick="return confirm('Voulez-vous supprimer ce commentaire ?')">
									<i class="fa fa-trash"></i>
								</a> 	{% endif %}
					</p>
				</div>
		
	{% else %}
				<div class="alerte alert-warning mb-3 fw-bolder" role="alert">
					<p>Aucun commentaire pour l'instant
					</p>
				</div>
{% endfor %}
		</div>
	</div> 
	<h1 class=" mb-5 text-center">
				<i class="fa fa-comments"></i>
				Donnez nous votre avis ! </h1>
		
    	<div class="row">
		<div class="col-6 mx-auto">
{{render(url('add_commentaire'))}}


{% endblock %}