{% extends 'base.html.twig' %}

{% block title %}Tous les articles
{% endblock %}

{% block body %}

	<h1 class="text-center my-3">Tous les articles</h1>

	<div class="row">
		<div class="col-10 mx-auto">

			{% for article in articles | reverse %}

				<div class="row mb-4 border-top p-3">
					<a href="{{ path('show_article', {'art_alias': article.alias, 'id': article.id}) }}" title="Voir l'article" class="d-flex text-decoration-none">

						<div class="col-5">
							<img src="{{ asset('uploads/' ~ article.photo) }}" alt="{{ article.title }}" class="img-fluid rounded">
						</div>

						<div class="col-7 ms-4">
							<h2 class="text-dark align-middle">{{ article.title }}</h2>
							<p class="text-muted align-middle">{{ article.subtitle | length > 100 ? article.subtitle | slice(0,180) ~ '...' : article.subtitle }}</p>
						</div>

					</a>
				</div>
			{% else %}
				<h3 class="text-center mt-2">Aucun article pour le moment !</h3>

			{% endfor %}

		</div>
	</div>

{% endblock %}
